.logoTipo{
    font-family: 'Satisfy', cursive;
}

body, html{
    overflow-x: hidden;
}

.leftAlign{
    float: right;
    size: 300px;
}

.foot{
    font-size: 13px;
    font-weight: bold;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-left: 20px;
    padding-right: 20px;
  }