.logoTipo {
  font-family: "Satisfy", cursive;
}

body,
html {
  overflow-x: hidden;
}

.leftAlign {
  float: right;
  padding-top: 25px;
  padding-right: 10px;
  font-weight: bold;
}

.foot {
  font-size: 13px;
  font-weight: bold;
}

.card {
  transition: 0.3s;
  width: 90%;
  height: 32rem;
}

.botonAbajo {
  position: absolute;
  bottom: 5%;
  left: 10%;
}

.priceAbajo {
  position: absolute;
  bottom: 12%;
  left: 10%;
}

.ocultar {
  display: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}

.boton-fondoClaro {
  background-color: #f4e6db;
  border-radius: 7px;
  border-width: 1px;
  height: 40px;
}

.boton-fondoRojo {
  background-color: #fa5858;
  border-radius: 7px;
  border-width: 0px;
  height: 40px;
  color: black;
}
